img{
    width: 200px;
    height: 200px;
    alignment-baseline: central;
}
body { 
    background-image:url("Pictures/Dragonball.jpg");
     background-position:right;
    background-color: ;
    text-align: center;
    font-family: "Arial";
    color: yellow;
   
    
}
